<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <script>
      
      const handleSubmit = (e) => {
        let data = { data: [] };

        let tmpObj = {};
        const toJson = (array, id, value) => {};

        for (let i = 0; i < e.length; i++) {
          const isbnTemplate = /^[0-9]{10,}$/;
          const id = e[i].id.toString();
          let value = e[i].value.toString();

          if (id === "isbn" && !value.match(isbnTemplate)) {
            value = null;
            alert(
              '"isbn" must be at least 10 characters long and can be only numbers'
            );
          };

          const obj = { [id]: value };
          tmpObj = Object.assign(obj, tmpObj);
        }
        console.log(tmpObj);
        debugger;
      };
    </script>

    <main class="d-flex align-items-center justify-content-center">
      <!-- <div class="row justify-content-center"> -->
      <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <h1>Add Books</h1>
          </div>
          <form
            id="addBook"
            onsubmit="return handleSubmit(this.inputs)"
            class="form-row"
            method="get"
            action="/add"
          >
            <% keys.forEach(i => { %>
            <div class="form-group col-md-6">
              <label for="<%= i %>"><%= i.toUpperCase() %></label>
              <input
                type="text"
                name="inputs"
                class="form-control"
                id="<%= i %>"
              />
              <!-- required -->
            </div>
            <% }); %>
            <button type="submit" id="submitButton" class="btn btn-primary">
              Submit
            </button>
          </form>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
