<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <script>
        const handleSubmit = e => {
            // debugger;
            e.preventDefault();
            
        }
    </script>

    <main class="d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <h1>Add Books</h1>
          </div>
          <!-- <form method="GET" action="/about"> -->
          <form class="form-row" onsubmit="return handleSubmit()">
            <% keys.forEach(i => { %>
              <div class="form-group col-md-6">
                <label for="exampleInputEmail1"><%= i %></label>
                <input type="text" class="form-control" id="<%= i %>" aria-describedby="emailHelp">
              </div>
            <% }); %>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
